/*common css*/

/*base css*/
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
li,
form,
input,
textarea,
th,
td,
select,
i {
  margin: 0;
  padding: 0;
  border:none;
}

em {
  font-style: normal;
}

li {
  list-style: none;

}

a {
  text-decoration: none;
}

html {
  height: 100%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1
}
.header-nav {
  position: absolute;
  top: 0;
  line-height: 115px;
  font-size: 34px;
  letter-spacing: 240px;
}
.header-nav.select-time {
  right: 800px;
  letter-spacing: 10px;
}
.header-nav.select-time a{
  margin: 0 180px;
  padding: 0 5px;
}
.header-nav a {
  float: left;
  margin-left: 150px;
  color: #816bef;
  cursor: pointer;
}
.header-nav a.current {
  color: #fff89b;
}
/*提示框*/
.charts-tooltip {
  position: absolute;
  background: rgba(18, 46, 124, 0.3);
  color: #fff;
  padding: 8px;
  display: none;
  font-size: 32px;
  border-radius: 5px;
  z-index: 99;
  line-height: 42px;
}
body:not(.c-body) {
  font-family: "微软雅黑";
  background-size: 100% 100%;              
  transform-origin: 0px 0px 0px;   
  -ms-transform-origin:0 0;    
  overflow: hidden;  
  color: #5e98cd;
  width: 3456px;
  height: 1944px;
}
@font-face {
  font-family: digifacewide;
  src: url(../../fonts/digifacewide.ttf);
}

/*公用标题样式*/
.common-title {
  font-size: 42px;
  color: #ceffff;
  padding-left: 58px;
  line-height: 145px;
}

/*旋转动画*/
@keyframes rotate {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}

@keyframes scale {
  0% {transform : scale(0);}
  100% {transform : scale(360);}
}