* {
  padding: 0;
  margin: 0;
}

body {
 
  background: url(../../../images/sheqing/personFlow/body-bg.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  
}
.person-flow-pages {
  padding: 245px 70px 0 70px;
  width: 3316px;
  height: 1699px;
}

/* 页面左边*/
.person-flow-pages .page-left {
  width: 2210px;
  float: left;
}
/* 总数统计*/
.person-flow-pages .page-left .total-statistics {
  width: 100%;
  height: 555px;
  margin-bottom: 55px;
}
.person-flow-pages .page-left .total-statistics .title1 {
  height: 297px;
  position: relative;
  
}
.person-flow-pages .page-left .total-statistics .title1 i {
  background: url(../../../images/sheqing/personFlow/circle.png) no-repeat;
  width: 280px;
  height: 280px;
  display: inline-block;
  float: left;
  animation:rotate 10s infinite linear;
  -webkit-animation:rotate 10s infinite linear; 
  transform-origin:50% 50%;
}
.person-flow-pages .page-left .total-statistics .title1 b {
  font-size: 48px;
  width: 216px;
  height: 297px;
  line-height: 280px;
  font-style: normal;
  display: inline-block;
  position: absolute;
  padding-left: 89px;
  
}
.person-flow-pages .page-left .total-statistics .title1 span{
  width: 803px;
  background: url(../../../images/sheqing/personFlow/title-bg1.png) no-repeat;
  background-size: 100% 100%;
  line-height: 181px;
  font-size: 120px;
  text-align: center;
  display: inline-block;
  float: left;
  margin-top: 60px;
  margin-left: -25px;
}
.person-flow-pages .page-left .left-total,
.person-flow-pages .page-left .right-total {
  float: left;
}
.person-flow-pages .page-left .right-total {
  margin-left: 65px;
}
 
.person-flow-pages .page-left .total-statistics .title1:last-child span {
  background: url(../../../images/sheqing/personFlow/title-bg2.png) no-repeat;
  margin-left:0;

}
.person-flow-pages .page-left .total-statistics .title1:last-child i {
  margin-left: -15px;

}
.person-flow-pages .page-left .total-statistics .title1:last-child b{
  padding-left: 85px;

}

.person-flow-pages .page-left .total-statistics .title2 {
  background: url(../../../images/sheqing/personFlow/title-bg3.png) no-repeat;
  width: 940px;
  height: 140px;
  font-size: 46px;
  color: #75fbfd;
  padding-left: 120px;
  line-height: 80px;
  margin-top: 45px;
}
.person-flow-pages .page-left .total-statistics .title2 span{
  font-family: digifacewide;
  font-size: 72px;
  color: #fef974;
  padding: 0 55px;
  line-height: 140px;
}
.person-flow-pages .page-left .total-statistics .title2 b {
  float: right;
  padding: 30px 130px 0 0;
}

.person-flow-pages .page-left .enter-out-way {
  background: url(../../../images/sheqing/personFlow/charts-bg2.png) no-repeat;
  width: 1064px;
  height: 1050px;
  float: left;
  position: relative;
}
.person-flow-pages  .enter-charts,
.person-flow-pages  .out-charts {
  position: absolute;
}
.person-flow-pages  .out-charts {
  display: none;
}
.person-flow-pages .page-left .enter-out-way .scale-bg {
  background: url(../../../images/sheqing/personFlow/circle1.png) no-repeat;
  width: 798px;
  height: 807px;
  animation:scale 4s infinite linear;
  -webkit-animation:scale 4s infinite linear; 
  transform-origin:50% 50%;
  position: absolute;
  left: 132px;
  top: 185px;
  z-index: 0;
}
.person-flow-pages .page-left .enter-out-charts {
  position: absolute;
  z-index: 1;
}
@keyframes scale {
  0% {
    transform :  scale(0.7);
    opacity: 0.7;
  }
  50% {
    transform :  scale(1);
    opacity: 1;
  }
  100% {
    transform :  scale(0.7);
    opacity: 0.7;
  } 
}
/*常住人口/暂住人口*/
.person-flow-pages .page-left .person-type {
  background: url(../../../images/sheqing/personFlow/charts-bg3.png) no-repeat;
  width: 1064px;
  height: 1050px;
  float: right;
  position: relative;
}
.person-flow-pages .page-left .person-type-rotate {
  background: url(../../../images/sheqing/personFlow/circle3.png) no-repeat;
  width: 653px;
  height: 630px;
  position: absolute;
  animation:rotate 10s infinite linear;
  -webkit-animation:rotate 10s infinite linear; 
  transform-origin:52.5% 52.3%;
   left: 190px;
  top: 216px;
  z-index: 0
}
.person-flow-pages .page-left .person-type-charts {
  position: absolute;
  z-index: 1;
}
 
.person-flow-pages .page-right {
  width: 1062px;
  float: right;
}

.person-flow-pages .page-right .top5-charts-bg {
   background: url(../../../images/sheqing/personFlow/chrats-bg1.png) no-repeat;
   background-size: 100% 100%;
   width: 1062px;
   height: 499px;
   float: left;
   margin-bottom: 58px;
}

/*人员迁入原因TOP5*/
.person-flow-pages .page-right .ingoing-reason {
  margin-top: 50px;
}
.person-flow-pages .page-right .out-land-charts,
.person-flow-pages .page-right .ingoing-reason-charts {
  padding-left: 20px;
}
.ingoing-reason-charts .axis-y text,
.out-land-charts .axis-y text{
  font-size: 30px;
  fill: #888;
}
.ingoing-reason-charts .top-text {
  font-size: 36px;
  fill: #8cffff;
  text-anchor: middle;
}
.ingoing-land-charts table{
  width: 995px;
  height: 340px;
  margin-left: 30px;
  margin-top: -10px;
}
.ingoing-land-charts table tr {
  border-bottom: 1px solid #15456b;
  float: left;
  width: 100%;
  line-height: 62px;
  text-align: center;
}
.ingoing-land-charts table tr:last-child {
  border-bottom: none;
}
.ingoing-land-charts table tr td {
  float: left;
  display: block;
}
.ingoing-land-charts table tr td:nth-child(1) {
  font-size: 30px;
  color: #00eaff;
  width: 180px;
}
.ingoing-land-charts table tr td:nth-child(2) {
  font-size: 28px;
  color: #fff;
  width: 130px;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
}
.ingoing-land-charts table tr td:nth-child(3) {
  width: 365px;
  padding: 0 70px 0 70px;
}
.ingoing-land-charts table tr td:nth-child(3) span {
  display: inline-block;
  width: 100%;
  height: 18px;
  float: left;
  margin-top: 21px;
  background: -webkit-linear-gradient(left, #d6d582 , #4890d4); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d6d582, #4890d4); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d6d582, #4890d4); /* Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d6d582, #4890d4); /* 标准语法 */
}
.ingoing-land-charts table tr td:nth-child(4) {
  font-size: 36px;
  color: #b7f9ff;
}
.ingoing-land-charts table tr td:nth-child(4) span {
  font-size: 27px;
  color: #00eaff;
  padding-left: 10px;
}

.total-statistics {
  animation: triangle 1s 1;
  -webkit-animation: triangle 1s 1;
}
.enter-out-way,
.person-type {
  animation: opacity_ani_01 1s 1;
  -webkit-animation: opacity_ani_01 1s 1;
}
.page-right {
  animation: star_ani_03 1s 1;
  -webkit-animation: star_ani_03 1s 1;
}

/*一系列的动画*/
 
@keyframes triangle {
  0% {
    -webkit-transform: rotate(-60deg) scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes cri {
  0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes cri {
  0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    -webkit-opacity: 0;
  }
}

@-webkit-keyframes opacity_ani_01 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes opacity_ani_01 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes star_ani_03 {
  0% {
    -webkit-transform: translateX(46rem);
  }
  100% {
    -webkit-transform: translateX(-0);
  }
}

@-webkit-keyframes star_ani_04 {
  
  0% {
    -webkit-transform: translateY(-30rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    opacity: 1;;
  }
}
